.presentation {
    display: flex;
    height: 764px;
    flex-direction: column;
    margin-top: 66px !important;
}

.contents {
    display: flex;
    height: 700px;
}

.slideBox {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 18px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 0px -18px inset;
}

.slideBox:-webkit-full-screen {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.slideBox:fullscreen {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.slideBox:-webkit-full-screen .slideQuestion {
    font-size: 60px;
}

.slideBox:fullscreen .slideQuestion {
    font-size: 60px;
}

@media (max-width: 890px) {
    .slideBox:-webkit-full-screen .slideQuestion {
        font-size: 30px;
    }

    .slideBox:fullscreen .slideQuestion {
        font-size: 30px;
    }
}

.slideBox:-webkit-full-screen .slide {
    margin: 0;
}

.slideBox:fullscreen .slide {
    margin: 0;
}

.slide {
    position: relative;
    margin: 20px;
    width: 700px;
    height: 400px;
    background-color: #fff;
    flex-direction: column;
    /* border-radius: 20px; */
    box-shadow: rgba(0, 0, 0, 0.36) 0px 8px 20px 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}



/* @media (max-width: 1400px) {
    .slide {
        transform: scale(0.9);
    }
}


@media (max-width: 1000px) {
    .slide {
        transform: scale(0.8);
    }
} */

.slideQuestion {
    position: absolute;
    font-size: 30px;
    top: 20px;
    left: 20px;
    font-family: 'Nunito', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slideBox:fullscreen .slideQuestion {
    top: 20px;
}

.slideBox:-webkit-full-screen .slideQuestion {
    top: 20px;
}

:root {
    --graph-width: 600px;
    --graph-height: 300px;
    --graph-top: 80px;
    --graph-left: 40px;

    --timer-length: 10;
}

.chart {
    width: var(--graph-width) !important;
    height: var(--graph-height) !important;
    position: absolute;
    top: var(--graph-top) !important;
    left: var(--graph-left) !important;
}

/* .slideBox:-webkit-full-screen .chart {
    top: 130px;
}

.slideBox:fullscreen .chart {
    top: 130px;
} */

.piechart {
    width: var(--graph-width) !important;
    height: var(--graph-height) !important;
    position: absolute;
    top: 80px;
    left: 40px;
}

.slideBox:-webkit-full-screen .piechart {
    top: 130px;
}

.slideBox:fullscreen .piechart {
    top: 130px;
}

#cloud-chart {
    /* width: 600px !important;
    height: 300px !important; */
    position: absolute;
    top: 100px;
    left: 40px;
}

@media (max-width: 1000px) {
    .slideBox {
        width: 82%;
        max-width: (100% - 200px);
    }
}

@media (max-width: 600px) {
    .slideBox {
        display: none;
    }
}


.quizQuestion {
    font-size: 34px;
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Nunito", "Open Sans", "Helvetica Neue", sans-serif;
}

.slideBox:-webkit-full-screen .quizQuestion {
    font-size: 50px;
}

.slideBox:fullscreen .quizQuestion {
    font-size: 50px;
}