.addPresentation {
    width: 300px;
    height: 60px;
    padding-right: 8px;
    /* left: 535px; */
}

.addFileIcon {
    background-image: url("./upload.png");
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.inputFile {
    display: none;
}

#alertWrapper {
    width: 0px;
    height: 0px;
    position: relative;
}

.uploadFileButton:hover {
    color: #fff;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0px 3px 0px #257adc;
}

.uploadFileButton:active {
    background-color: rgba(37,122,220,1);
    transform: translateY(0.25rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent;
}
