.presentationBar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #CFCFCF;
    box-sizing: content-box;
}

.bar-button {
    /* width: 200px; */
    position: relative;
    border-radius: 9999px;
    margin: 4px 4px 8px 4px;
    align-items: center;
    appearance: none;
    background-color: rgba(52,142,246,1);
    border: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 0px #257adc;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    /* padding-left: 16px;
    padding-right: 16px; */
    position: relative;
    text-align: left;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: 600;
}

.bar-button:focus {
    color: #fff;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0px 3px 0px #257adc;
}

.bar-button:hover {
    color: #fff;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0px 3px 0px #257adc;
}

.bar-button:active {
    background-color: rgba(37,122,220,1);
    transform: translateY(0.25rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent;
}


.addSlide {
    padding-left: 0px;
    padding-right: 16px;
}

.addSlidePlus {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url("./plus.png");
}

.deleteSlide {
    padding-left: 16px;
    padding-right: 16px;
    color: #000;
    background-color: rgba(247,250,252,1);
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 0px #dfe3e9;
}

.deleteSlide:hover {
    color: #000;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 0px #dfe3e9;
}

.deleteSlide:active {
    color: #000;
    background-color: #dfe3e9;
    transform: translateY(0.25rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent;
}

@media (max-width: 800px) {
    .deleteSlide {
        display: none;
    }
}

@media (max-width: 624px) {
    .addSlide {
        display: none;
    }
}

@media (max-width: 440px) {
    .shareButton {
        display: none;
    }
}

.showButton {
    color: black;
    margin-left: auto;
    padding-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(247,250,252,1);
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 0px #dfe3e9;
}

.showButton:hover {
    color: #000;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 0px #dfe3e9;
}

.showButton:active {
    color: #000;
    background-color: #dfe3e9;
    transform: translateY(0.25rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent;
}

.showButtonIcon {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-size: contain;
    background-image: url("./play.png");
}

.shareButton {
    width: 190px;
    padding-left: 8px;
    padding-right: 16px;
}

.shareButtonIcon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-image: url("./share.png");
}

.copyButton {
    width: 260px;
    height: 50px;
    padding-right: 10px;
}

[data-popup="modal"] .popup-content {
    width: 50%;
    /* height: 50%; */
    background-color: white;
    margin: auto;
    /* top: 50%; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 22px 70px 800px;
}

[data-popup="modal"] .popupWrapper {
    width: 100%;
    /* top: 50%; */
    position: relative;
    display: grid;
}

.invitationPopupWrapper {
    grid-template-areas: "link qr";
    grid-template-columns: 50% 50%;
    padding-right: 60px;
}

@media (max-width: 1270px) {
    [data-popup="modal"] .popup-content {
        width: 400px;
    }
    [data-popup="modal"] .popupWrapper {
        grid-template-columns: 100%;
        grid-template-areas:
            "link"
            "qr";
    }
}

[data-popup="modal"] .popup-arrow {
    display: none;
}

.copyLink {
    align-self: center;
    justify-self: center;
    grid-area: link;
}

.copyLinkIcon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-image: url("./copy.png");
}

.copyQrIcon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-image: url("./qr.png");
}

.copyQr {
    grid-area: qr;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#react-qrcode-logo {
    width: 200px !important;
    height: 200px !important;
    margin: 10px;
}

.crossWrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 6px;
    border-radius: 20px;
}

.crossWrapper:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.crossWrapper:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.crossIcon {
    background-image: url('./close.png');
    background-size: contain;
    width: 20px;
    height: 20px;
}