.presentationBar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #CFCFCF;
    box-sizing: content-box;
}
/*
.bar-button {
    height: 52px;
    width: 120px;
    margin: 4px;
    box-sizing: border-box;
    background-color: rgba(0, 16, 61, 0.06);
    border-radius: 8px;
    font-family: "BlinkMacSystemFont", -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.bar-button:hover {
    background-color: rgba(0, 16, 61, 0.16);
} */

.bar-button {
    /* width: 200px; */
    position: relative;
    border-radius: 8px;
    margin: 4px;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    /* padding-left: 16px;
    padding-right: 16px; */
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.bar-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.bar-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.bar-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}


.addSlide {
    padding-left: 0px;
    padding-right: 16px;
}

.addSlidePlus {
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url("./plus.png");
}

.deleteSlide {
    padding-left: 16px;
    padding-right: 16px;
    color: black;
    background-image: radial-gradient(100% 100% at 100% 0, #DAD9DF 0, #D5D9D8 100%);
}

@media (max-width: 800px) {
    .deleteSlide {
        display: none;
    }
}

@media (max-width: 624px) {
    .addSlide {
        display: none;
    }
}

@media (max-width: 440px) {
    .shareButton {
        display: none;
    }
}

.deleteSlide:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(45, 35, 66, .4) 0 -3px 0 inset;
}

.deleteSlide:active {
    box-shadow: #D5D9D8 0 3px 7px inset;
}

.shareButton {
    color: black;
    margin-left: auto;
    padding-left: 0;
    padding-left: 16px;
    padding-right: 16px;
    background-image: radial-gradient(100% 100% at 100% 0, #DAD9DF 0, #D5D9D8 100%);
}

.shareButton:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(45, 35, 66, .4) 0 -3px 0 inset;
}

.shareButton:active {
    box-shadow: #D5D9D8 0 3px 7px inset;
}

.shareButtonIcon {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    background-size: contain;
    background-image: url("./share.png");
}

.showButton {
    width: 240px;
    padding-left: 8px;
    padding-right: 16px;
}

.showButtonIcon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-image: url("./play.png");
}

.copyButton {
    width: 260px;
    height: 50px;
    padding-right: 10px;
}

.popup-content {
    width: 50%;
    /* height: 50%; */
    background-color: white;
    margin: auto;
    /* top: 50%; */
    padding: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 22px 70px 800px;
}

.popupWrapper {
    width: 100%;
    /* top: 50%; */
    position: relative;
    display: grid;
    grid-template-areas: "link qr";
    grid-template-columns: 50% 50%;
    padding-right: 60px;
}

@media (max-width: 1270px) {
    .popup-content {
        width: 400px;
    }
    .popupWrapper {
        grid-template-columns: 100%;
        grid-template-areas:
            "link"
            "qr";
    }
}

.popup-arrow {
    display: none;
}

.copyLink {
    align-self: center;
    justify-self: center;
    grid-area: link;
}

.copyLinkIcon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-image: url("./copy.png");
}

.copyQrIcon {
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-size: contain;
    background-image: url("./qr.png");
}

.copyQr {
    grid-area: qr;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#react-qrcode-logo {
    width: 200px !important;
    height: 200px !important;
    margin: 10px;
}

.crossWrapper {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 6px;
    border-radius: 20px;
}

.crossWrapper:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.crossWrapper:active {
    background-color: rgba(0, 0, 0, 0.9);
}

.crossIcon {
    background-image: url('./close.png');
    background-size: contain;
    width: 28px;
    height: 28px;
}