@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.rotateLogo {
    width: 100px;
    height: 100px;
    background-image: url("./bananas.png");
    background-size: contain;
    animation: rotation infinite 10s linear
}
