#root {
    overflow-x: hidden;
}

.my_navbar {
    width: 100%;
    position: fixed;
    z-index: 30;
    font-family: 'Nunito';
}

@keyframes disapper {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navbarWrapper {
    height: 66px;
    background-color: #fff;
    /* background-color: #20232a; */
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 5%);
    display: grid;

    grid-template-areas: "vert_menu logo menu login";
    grid-template-columns: 80px 120px minmax(0px, 1440px) 120px;
    column-gap: 20px;
}

.verticalMenu {
    display: none;
    grid-area: vert_menu;
    justify-content: center;
}

.verticalMenuBtn {
    position: relative;
    width: 60px;
    height: 60px;
    transition-duration: 0.5s;
    -webkit-tap-highlight-color: transparent;
}

.verticalMenuBtn {
    cursor: pointer;
}

.burgerLeft {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 12px;
    top: 30px;
    background-color: black;
    border-radius:  2px 0 0 2px;
}

.burgerLeft:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: black;
    content: "";
    top: -12px;
    border-radius:  2px 0 0 2px;
}

.burgerLeft:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: black;
    content: "";
    top: 12px;
    border-radius:  2px 0 0 2px;
}

.burgerRight {
    transition-duration: 0.5s;
    position: absolute;
    height: 3px;
    width: 12px;
    top: 30px;
    background-color: black;
    left: 12px;
    border-radius: 0 2px 2px 0;
}

.burgerRight:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: black;
    content: "";
    top: -12px;
    border-radius: 0 2px 2px 0;
}

.burgerRight:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: black;
    content: "";
    top: 12px;
    border-radius: 0 2px 2px 0;
}

.open .burgerLeft {
    transition-duration: 0.5s;
    background: transparent;
}

.open .burgerLeft:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}

.open .burgerLeft:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}

.open .burgerRight {
    transition-duration: 0.5s;
    background: transparent;
}

.open .burgerRight:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}

.open .burgerRight:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}

.verticalMenuContainer {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-top: 64px;
    width: 140px;
    justify-content: center;
    white-space: nowrap;
    overflow-x: hidden;
    background-color: #fff;
    left: 0;
    border-radius: 0 0 10px 0;
    padding: 8px;
}

.navbarMenu {
    display: grid;
    grid-area: menu;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, minmax(120px, 240px));
    grid-template-areas: "A1 A2 A3 A4";
    font-size: 20px;
}

.menuBtn {
    text-decoration: none;
    transition: 0.1s;
    color: rgba(0, 0, 0, 0.635);
}

.menuBtn:hover {
    color: black;
    cursor: pointer;
}

.menuBtn.hover {
    color: red;
    cursor: pointer;
}

.menuBtnActive {
    color: black;
    cursor: pointer;
}

.navbarLogin {
    display: grid;
    grid-area: login;
    grid-template-areas: "A81";
    margin: 4px;
}

.navbarLoginBtn {
    /* width: 200px; */
    position: relative;
    border-radius: 9999px;
    margin: 10px;
    align-items: center;
    appearance: none;
    background-color: rgba(51,193,115,1);
    border: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    box-shadow: 0 0 transparent,0 0 transparent,0 4px 0px #15a962;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    /* padding-left: 16px;
    padding-right: 16px; */
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.navbarLoginBtn:focus {
    color: #fff;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0px 3px 0px #15a962;
}

.navbarLoginBtn:hover {
    color: #fff;
    transform: translateY(0.0625rem);
    box-shadow: 0 0 transparent,0 0 transparent,0px 3px 0px #15a962;
}

.navbarLoginBtn:active {
    background-color: #15a962;
    transform: translateY(0.25rem);
    box-shadow: 0 0 transparent,0 0 transparent,0 0 transparent;
}

@media (max-width: 1035px) {
    .my_navbar {
      grid-template-areas: "vert_menu logo search login";
      grid-template-columns: minmax(80px, 120px) 120px minmax(240px, 720px) 120px;
    }
    .navbarMenu {
      display: none;
    }
    .verticalMenu {
      display: flex;
    }
    .menuBtn {
      font-size: 20px;
    }
}

@media (max-width: 660px) {
    .my_navbar {
      grid-template-areas: "vert_menu logo search login";
      grid-template-columns: 100px 120px minmax(240px, 720px) 120px;
      column-gap: 0px;
    }
    .my_navbar .verticalMenuContainer {
      width: 140px;
    }
    .navbarMenu {
      display: none;
    }
    .verticalMenu {
      display: flex;
    }
    .verticalMenuBtn {
      font-size: 18px;
    }
    .navbarWrapper {
        column-gap: 0;
    }
  }

@media (max-width: 600px) {
    .my_navbar {
      grid-template-areas: "vert_menu logo search login";
      grid-template-columns: 40px 120px minmax(36px, 720px) 120px;
      column-gap: 0px;
    }

    .navbarMenu {
      display: none;
    }
    .verticalMenu {
      display: flex;
    }
    .verticalMenuBtn {
      font-size: 14px;
    }
}

.logoImg {
    background-image: url('./statistics.png');
    width: 50px;
    height: 50px;
    margin: 8px;
    background-size: contain;
}

.ourLogo {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: fit-content;
    align-items: center;
    font-family: 'Nunito';
    color: black;
    font-weight: 800;
    font-size: 24px;
}

.joinBlock {
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.joinInputBlock {
    position: relative;
}

.joinInvitation {
    font-size: 18px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .joinInvitation {
        display: none;
    }
}

.joinInput {
    width: 344px;
    height: 40px;
    border-radius: 20px;
    border: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 2px;
}

.joinInput:focus {
    outline: none;
}

.joinButton {
    position: absolute;
    right: 6px;
    top: 5px;
    color: #757575;
    font-size: 20px;
    background-color: #eceff2;
    height: 30px;
    text-align: center;
    width: 190px;
    line-height: 30px;
    border-radius: 24px;
    font-weight: 500;
}

.joinButton:hover {
    color: #757575;
    background-color: #e0e5e9;
}

.joinButton:active {
    color: #757575;
    background-color: #d1d4d8;
}

.profileMenu {
    grid-area: A4;
}

