.sidebar {
    width: 15%;
    min-width: 200px;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    display: inline-block;
}

@media (max-width: 600px) {
    .sidebar {
        width: 100%;
    }
}

.miniSlide {
    width: 100%;
    min-height: 100px;
    position: relative;
}

.miniSlideNumber {
    position: absolute;
    top: 10px;
    left: 6px;
}

.miniSlideImage {
    position: absolute;
    display: block;
    top: 10px;
    left: 30px;
    /* width: 76%;
    height: 80px; */
    background-color: #9A8873;
    border-radius: 8px;
    box-sizing: border-box;
    border: solid white 4px;
    overflow: hidden
}

.miniSlideImage:hover {
    border: solid #708D81 4px;
}

.miniSlideImageImg {
    height: auto;
    width: 100%;
    /* max-height: 72px; */
    border-radius: 3px;
}

.activeSlide {
    background-color: #E4E4EC;
}

.miniSlideQuestion {
    margin-left: 5%;
    width: 90%;
    height: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}